

  

<mat-tab-group class="mat-tab-group " mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab   label="Administration"  >
   
      
    <div class="container">
      <div class="row ">
        <div class="col  margenCard1">
          <div class="card" style="width: 18rem">
            <img
              src="assets/imagen/Captura11.PNG"
              class="card-img-top"
              alt="Imagen de tarjeta"
            />
            <div class="card-body estiloCards"><h1>Contacts</h1></div>
          </div>
        </div>
    
        <div class="col margenCard1">
          <div class="card" style="width: 18rem">
            <img
              src="assets/imagen/Captura22.PNG"
              class="card-img-top"
              alt="Imagen de tarjeta"
            />
            <div class="card-body estiloCards"><h1>Process</h1></div>
          </div>
        </div>
    
        <div class="col margenCard1">
          <div class="card" style="width: 18rem">
            <img
              src="assets/imagen/Captura33.PNG"
              class="card-img-top"
              alt="Imagen de tarjeta"
            />
            <div class="card-body estiloCards"><h1>Groups</h1></div>
          </div>
        </div>
      </div>
    
     
  </div>


 
      <div class="container">
      
      <div class="row ">
        <div class="col margenCard1">
          <div class="card" style="width: 18rem">
            <img
              src="assets/imagen/Captura44.PNG"
              class="card-img-top"
              alt="Imagen de tarjeta"
            />
            <div class="card-body estiloCards"><h1>Events</h1></div>
          </div>
        </div>
    
        <div class="col margenCard1">
          <div class="card" style="width: 18rem">
            <img
              src="assets/imagen/Captura55.PNG"
              class="card-img-top"
              alt="Imagen de tarjeta"
            />
            <div class="card-body estiloCards"><h1>Team</h1></div>
          </div>
        </div>
    
        <div class="col margenCard1">
          <div class="card" style="width: 18rem">
            <img
              src="assets/imagen/Captura66.PNG"
              class="card-img-top"
              alt="Imagen de tarjeta"
            />
            <div class="card-body estiloCards"><h1>Donations</h1></div>
          </div>
        </div>
      </div>
  </div>

  </mat-tab>
  <mat-tab label="Build">
    Build
  </mat-tab>
  <mat-tab label="Tools">
    Tools
  </mat-tab>
  <mat-tab label="Manage">
    Manage
  </mat-tab>
  <mat-tab label="Communicate">
    Communicate
  </mat-tab>
  <mat-tab label="Training">
    Training
  </mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>
