<mat-tab-group
  class="mat-tab-group"
  mat-stretch-tabs="false"
  mat-align-tabs="center"
>
  <mat-tab label="Administration">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-3 margenCard1" *ngFor="let d of listaDeDatos">
          <div class="card shadow rounded" [ngClass]="getClassDatos(d.id)" (click)="escogerDato(d)">
            <div class=" imagenTexto  ">
              <img src="assets/imagen/{{ d.imagen }}" class="img-fluid" alt="" />
            </div>
            <div class="card-body" >
             
              <p class="texto" >{{ d.numero }}</p>
            </div>
            <div class="estiloCards" >
              <h1>{{ d.texto }}</h1>
            </div>
    
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Build"> Build </mat-tab>
  <mat-tab label="Tools"> Tools </mat-tab>
  <mat-tab label="Manage"> Manage </mat-tab>
  <mat-tab label="Communicate"> Communicate </mat-tab>
  <mat-tab label="Training"> Training </mat-tab>
</mat-tab-group>
<div *ngIf="infoElegido">
<app-io [datoI]="infoElegido" > </app-io>
</div>
<router-outlet></router-outlet>
