<mat-tab-group
  class="mat-tab-group"
  mat-stretch-tabs="false"
  mat-align-tabs="center"
>
  <mat-tab label="Administration">
    <div class="container" >
     <app-cards [dato]="d" *ngFor="let d of listaDeDatos" 
     [ngClass]="getClassDatos(d.id)"
     (tarjetaSalida)="eventId($event)"
     (tarjetaSalidaDato)="eventDato($event)"
     ></app-cards>
    </div>
    <div *ngIf="infoElegido">
      <app-io [dato]="infoElegido" > </app-io>
    </div>
  </mat-tab>
  <mat-tab label="Build"> 
   <!-- en el componente build se pasa el @input  en la lista de texto del componente mattabgroup -->
   <!-- se llama el evento  -->
  <app-build
  [mensaje]="listaDeTexto " 
  (enviarlistado)="nuevaLista($event)"
  ></app-build>
  </mat-tab>
  <mat-tab label="Tools"> 
    <app-tools [datosPersonales]="datosPersonales" (dataEmitter)="datosPe($event)"> </app-tools>
  </mat-tab>
  <mat-tab label="Manage"> Manage </mat-tab>
  <mat-tab label="Communicate"> Communicate </mat-tab>
  <mat-tab label="Training"> Training </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
