
<div class=" justify-content-center" (click)="salidaDato(dato.id)">
    <div class="col margenCard1" >
      <div class="card shadow rounded " > 
        <div class=" imagenTexto  ">
          <img [src]="dato?.imagen" class="img-fluid" alt="" />
        </div>
        <div class="card-body" >
          <p class="texto" >{{dato?.numero}}</p>
        </div>
        <div class="estiloCards" >
          <h1>{{ dato?.texto }}</h1>
        </div>
      </div>
    </div>
  </div>
<div class=" justify-content-center" (click)="salidaDatoCompleto(dato)">
    <div class="col margenCard1" >
      <div class="card shadow rounded " > 
        <div class=" imagenTexto  ">
          <img [src]="dato?.imagen" class="img-fluid" alt="" />
        </div>
        <div class="card-body" >
          <p class="texto" >{{dato?.numero}}</p>
        </div>
        <div class="estiloCards" >
          <h1>{{ dato?.texto }}</h1>
        </div>
      </div>
    </div>
  </div>


 

